// Modifying existing variables
$primary: #668396;
$secondary: #F8A626;
$success: #9AB06C;
$body-bg-dark: #343330;
// accent hex: #292926
// Adding custom themes

// import functions + variables 
@import "../../node_modules/bootstrap/scss/_functions";
@import "../../node_modules/bootstrap/scss/_variables";

// Custom theme colors
$custom-map: (
    "background": $body-bg-dark,
    "accent": darken($body-bg-dark, 4%),
    "shadow": #46697F
);

$theme-colors: map-merge($custom-map, $theme-colors);

$headings-color: $secondary;

// import bootstrap - goes last to not override custom variables
@import "../../node_modules/bootstrap/scss/bootstrap";

// Overrides
.modal-content {
    --bs-border-color: #{$primary};
}
[data-bs-theme="dark"] {
    --bs-heading-color: #{$secondary};
}
